body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #858585ff;
    background: #002398;
    background: linear-gradient(150deg, rgb(0, 35, 152) 0%, rgba(0, 0, 0, 0.85) 22%);
}

/* header */
nav{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: baground-color 0,3s ease, box-shadow 0,3s ease;
    padding: 10px 0;
}

nav.scrolled {
    background-color: #000000;
    box-shadow: 0 2px 4px #000000 rgb(0, 0, 0, 0.1);
}

nav li {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    display: inline;
}

nav h1, nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 120px;
    border: 1px solid black;
}

nav h1 {
    color: rgb(0, 145, 255);
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul a {
    text-decoration: none;
    color: rgb(0, 145, 255);
    font-size: 1.3rem;
}

#Beranda {
    margin: 0 120px;
    display: flex;
    height: 80vh;
    color: white;
    align-items: center;
    gap: 20px;
    position: relative;
    /*border: 1px solid black;*/
}

.info, .profil {
    flex: 1;
    height: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 3;
    position: relative;
}

.info h1{
    font-size: 3rem;
    margin: 0;
}

.info h3{
    font-size: 1.3rem;
    margin: 10px 0 20px 0;
    color: #f0f0f0f0;
}

.info h4{
    font-size: 1.2rem;
    margin: 10px 0 20px 0;
    color: #d4d4d4f0;
}

.info button{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(0, 60, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profil img{
     position: absolute;
     bottom: 0;
     left: 75%;
     transform: translate(-35%);

     height: 80%;
     z-index: 4;
     width: auto;
}

.profil .bg-profil{
    position: absolute;
    left: 35%;
    transform: translateY(15%);

    z-index: 1;

    width: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: blue;
}

/* content */
main{
    margin-top: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    color: white;
}

#Keahlian {
    background-color: #0c0c0c;
    padding: 100px 120px;
}

#Keahlian .judul{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#Keahlian .judul h2{
    margin: 0;
    font-size: 2rem;
}

#Keahlian .judul hr{
    flex: 1;
    margin-left: 20px;
    border: none;
    height: 2px;
    background-color: white;
}

.card-warp{
    margin: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-height: 400px;
}

.card-item{
    background-color: #1B1C21;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: start;
}

.card-warp .icon-warp{
    background-color: #23252B;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-warp{
    width: 50%;
    height: auto;
    margin: 10px;
    color: white;
}

#Proyek{
    padding: 100px 120px;
}

#Proyek .judul{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#Proyek .judul h2{
    margin: 0;
    font-size: 2rem;
}

#Proyek .judul hr{
    flex: 1;
    margin-left: 20px;
    border: none;
    height: 2px;
    background-color: white;
}

#Proyek .card-warp .card-item{
    background-color: #1B1C211B;
    margin-bottom: 20px;
}

#Proyek .card-warp .img-warp{
    background-color: #0c0c0c;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.img-warp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#Footer {
    background-color: #0c0c0c;
    color: white;
    text-align: center;
    padding: 80px 40px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

footer h2{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 20px;
}

#Footer p{
    font-size: 1.2rem;
    color: #d4d4d4f0;
    line-height: 1.6;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#Footer ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#Footer ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 500;

    background-color: #1B1C21;
    padding: 12px 25px;
    border-radius: 8px;
    transition: background-color 0.3 ease, transform 0.3s ease;
}

#Footer ul li a:hover{
    background-color: #101113ff;
    transform: translateY(-5px);
}